/* Alap stílusok */
body {
    background: beige;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  main {
    width: 80%;
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 10px;
  
   
  }
  aside{
    width: 80%;
    max-width: 800px;
    margin: 30px;
    background: white;
    padding: 30px;
  }
  
  article {
    margin-bottom: 20px;
   
  }
  
  /* Galéria stílusok */
  #galeria {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-top: 15px;
  }
  .specpic{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   
 
   }
  
  #galeria .kartya {
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 3px;
  }
  
  .kartya img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  
  /* Felső sor stílusok */
  #felsosor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  
  #felsosor  div {

    margin: 5px;
    text-align: center;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 5px;
    
  }
  
  #felsosor   img {
    width: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    border: 2px solid red;
    
  }
  
  #felsosor  div button {
    background-color: #000000;
    color: #fff;
    padding: 10px 15px;
    
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  #felsosor > div button:hover {
    background-color: #00b33c;
  }
  
  /* Responszív stílusok */
  @media screen and (max-width: 600px) {
    main {
      width: 100%;
      padding: 5px;
    }
  
    #galeria {
      grid-template-columns: 1fr 1fr;
      grid-gap: 5px;
    }
  }
  
  @media screen and (max-width: 400px) {
    #galeria {
      grid-template-columns: 1fr;
    }
  }
  